@import "tailwindcss";

@theme {
  --color-primary: #1eabb8;
  --color-primary-dark: #1f5c7a;
  --color-secondary: #e88c30;
  --color-tertiary: #ecab9a;

  --color-muted: #e4eef1;
  --color-card: #fbfdfd;
  --color-border: #d9e4e8;
  --color-light: #f4f9fb;
  --color-light-secondary: #ada79c;
}

@layer base {

  html,
  body {
    @apply text-neutral-600 font-medium bg-light;
  }

  h1,
  h2,
  h3 {
    @apply text-neutral-800 font-black;
  }

  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-3xl;
  }

  button {
    cursor: pointer;
  }

  .my-container {
    @apply px-5 md:px-6 w-full max-w-5xl mx-auto;
  }
}

@layer utilities {
  .fef {
    @apply underline;
  }
}

@layer components {
  .card {
    @apply p-4 bg-card border-2 border-border rounded-xl;
  }
}