@import "tailwindcss";

@theme {
  --color-light: #f2ede4;
  --color-light-secondary: #ada79c;
}

@layer base {

  html,
  body {
    @apply text-neutral-600 font-light bg-light
  }

  h1, h2, h3 {
    @apply text-neutral-800 font-extrabold
  }

  h2 {
    @apply text-4xl
  }

  button {
    cursor: pointer;
  }

  .container {
    @apply px-5 md:px-6 mx-auto
  }
}

@layer utilities {
  .fef {
    @apply underline
  }
}

@layer components {
  .fef {
    @apply underline
  }
}